.App {
  text-align: center;
}

.App-header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}
body {
  background: #0e101c;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: white;
  padding: 0 20px 50px;

}

#table{
  position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 700px;
    min-width: 450px;
}



#addnew{
  cursor: pointer;
  background: #ec5990;
  padding:7px 10px 10px 10px;
  font-size:20px;
  text-align: center;
  border-radius: 4px;
  transition: 0.5s ease;

}


.form {
  max-width: 400px;
  margin: 40px auto;
  width: 100%;
  display:none;
  
}



textarea,
Select,
input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border: 1px solid white;
  padding: 10px 15px;
  margin-bottom: 15px;
  font-size: 14px;
}


input[type="submit"],
input[type="button"],
.button {
  position: relative;
  background: #ec5990;
  color: white;
  text-transform: uppercase;
  border: none;
  font-weight: 600;
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  letter-spacing: 2px;
  display: block;
  appearance: none;
  border-radius: 4px;
  width: 100%;
  font-weight: 400;
  letter-spacing: 0.5rem;
  transition: 0.3s all;
}

.buttonBlack {
  background: black;
  border: 1px solid white;
}


#cd,#cdl{
  display: none;
}
label{
  display: flex;
    margin-bottom: 10px;
}



button[type="button"] {
  padding: 5px;
  background: #516391;
  color: white;
  letter-spacing: 0px;
  text-transform: none;
  padding: 10px;
  letter-spacing: 1px;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button[type="button"]:hover,
#addnew:hover {
  background: black;
  color: white;
}

input[type="submit"]:active,
input[type="button"]:active {
  transition: 0.3s all;
  top: 2px;
}
p{
 font-size: 10px;
 margin-top: -10px;
 display: flex;
 color: red;
}
#cdp{
  display: none;
}


@media screen and (max-width: 472px) {
  #table{
    margin-left: 46px;
  }
}
